{% extends 'base.html' %}

{% load static %}

{% block title %}
	post details - Space Science Website Template
{% endblock %}

{% block menu %}
	<a href="{% url 'space_prospection:home' %}" class="logo"><img src="{% static "images/logo.png" %}" alt=""></a>
	<ul id="navigation">
	<li>
		<a href="{% url 'space_prospection:home' %}">Home</a>
	</li>
	<li>
		<a href="{% url 'space_prospection:about' %}">About</a>
	</li>
	<li class="menu">
		<a href="{% url 'space_prospection:projects' %}">Projects</a>
		<ul class="primary">
			<li>
				{% for project in all_projects %}
					<a href="{% url 'space_prospection:project_details' project.id %}">
						{{ project.proj_title }}
					</a>
				{% endfor %}	
			</li>
		</ul>
	</li>
	<li class="menu">
		<a href="{% url 'space_prospection:blog' %}">Blog</a>
		<ul>
			<li>
				{% for post in all_posts %}
					<a href="{% url 'space_prospection:post_details' post.id %}">
						{{ post.post_title }}
					</a>
				{% endfor %}	
			</li>
		</ul>
	</li>
	<li>
		<a href="{% url 'space_prospection:contact' %}">Contact</a>
	</li>
	</ul>
{% endblock %}

{% block content %}
	<div id="body">
		<div class="header">
			<div>
				<h1>{{ post.post_title }}</h1>
				<div class="article">
					<img src="{{ post.post_pic.url }}" alt="" width="600" height="350">
					<h1>{{ post.post_title }}</h1>
					<span>{{ post.post_pub_date }}</span>
					<!--post.post_content|linebreaks is for break {{ post.post_content }} variable string into pragraphs-->
					<p>{{ post.post_content|linebreaks }}</p>
				</div>
				<div class="sidebar">
					<ul>
						<li>
							<h1>FEATURED POSTS</h1>
							{% for post in all_posts %}
								{% if post.post_is_featured %}
									<li>
										<a href="{% url 'space_prospection:blog' %}"><img src="{{ post.post_pic.url }}" alt="" width="350" height="200"></a>
										<h2>{{ post.post_title }}</h2>
										<span>{{ post.post_pub_date }}</span>
									</li>
								{% endif %}
							{% endfor %}	
						</li>
						<li>
							<h1>RECENT POSTS</h1>
							<ul>
								{% for post in all_posts %}
									{% if post.was_published_recently %}	
										<li>
											<a href="{% url 'space_prospection:blog' %}">
												<img src="{{ post.post_pic.url }}" alt="" width="45" height="50">
											</a>
											<h2>{{ post.post_title }}</h2>
											<span>{{ post.post_pub_date }}</span>
										</li>
									{% endif %}
								{% endfor %}	
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
